@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --p: 50px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f9f6ee;
    --primary: #ed1c24;
  }
}

@layer base {
  body {
    font-synthesis: none;
    background: var(--background);
  }
}

@layer utilities {
  .trapezoid {
    clip-path: polygon(var(--p) 100%, calc(100% - var(--p)) 100%, 100% 0, 0 0);
  }

  .trapezoid-inverse {
    clip-path: polygon(0 100%, 100% 100%, calc(100% - var(--p)) 0, var(--p) 0);
  }

  .stroke {
    color: var(--primary);
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--primary);
  }

  .stroke-white {
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: none;
  }

  .text-white-shadow {
    text-shadow: 0 0 10px white;
  }
  .overlay {
    @apply absolute left-0 right-0 top-0 z-10 h-full w-full;
  }
  .btn-primary {
    @apply rounded-md bg-[#ed1c24] px-4 py-3 font-semibold text-white;
  }
  .headerBG {
    background-image: url("../../public/HeaderBG.png");
    background-size: cover;
    position: relative;
  }
  .headerBGOverlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
